.banner { 
    animation: BounceBanner 2s 0s ease-in-out; 
    .particles {
        position: absolute;
        top: 0px;
        bottom: 0px;
    }
    @media (max-width: 992px) {
        h1 {
            font-size: 32px;
        }
    }
}
@keyframes BounceBanner{
    0%{ transform: translateX(2000px);}
    20%{ transform: translateX(2000px);}
    50%{ transform: translateX(-300px);} 
    75%{ transform: translateX(150px);}
    100%{ transform: translateX(0px);} 
}