.skills-content {
    .ant-col {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
        img {
            -webkit-animation: rotateY 5s infinite;
            animation: rotateY 5s infinite;
        }
    }
}
@keyframes rotateY {
    0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    }
    100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    }
}